<header class="topbar">

    <div>

        <h5 class="mb-0">
            Inventra
        </h5>

    </div>

    <div class="user-info">

        <div class="avatar">

            EH

        </div>

        <div>

            <div>
                Emirhan Hacıoğlu
            </div>

            <small>
                Admin
            </small>

        </div>

    </div>

</header>