<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Inventra</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet" />

    <link href="~/css/site.css"
          rel="stylesheet" />
</head>
<body>

    <div class="app-container">

        <partial name="_Sidebar" />

        <div class="main-content">

            <partial name="_Topbar" />

            <div class="content-wrapper">

                @RenderBody()

            </div>

        </div>

    </div>

</body>
</html>